
.wpfrb {
    background: #fff;
    padding: 10px 15px;
    color: #5e5b5b;
    border-radius: 4px;
}

.wpfrb .btn {
    padding: 5px 10px;
    background: #676668;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 15px;
}

.wpfrb .btn:hover {
    background: #4d4d4d;
    padding: 5px 10px;
    color: white;
    border-color: transparent;
}

.wpfrb h1 {
    font-size: 23px;
    color: gray;
}

.wpfrb .flex {
    display: flex;
    flex-wrap: wrap;
}

.wpfrb .justify-between {
    justify-content: space-between;
}

.wpfrb .items-center {
    align-items: center;
}

.wpfrb h1::before {
    content: '' !important;
    display: none !important;
    background: transparent !important;
}

/*popup wraper*/
.wpfrb .wpfrb-popup-overlay {
    position: fixed;
    background: #0000009c;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.wpfrb .wpfrb-popup-overlay.wpfrb-login-register{
    display: none;
}
.wpfrb .wpfrb-popup-overlay.wpfrb-login-register.show{
    display: flex;
}

.wpfrb .btn.simple {
    background: transparent !important;
    color: #686868 !important;
    padding: 5px 0px;
}

.wpfrb .btn.simple:hover {
    text-decoration: underline;
    color: #05ceb2 !important;
}
.wpfrb .overlay-close {
    padding: 1px 7px;
    border-radius: 50%;
    border: 0;
    background: #f04242 !important;
    font-size: 16px;
    margin-left: auto;
    display: block;
    font-weight: bold;
    color: white !important;
}

/*popup content*/
.wpfrb .wpfrb-popup-content {
    min-width: 250px;
    background: white;
    padding: 10px 20px;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 3px 4px 8px #b9b9b2;
    z-index: 999;
}

/*login register */
.wpfrb-login-register .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wpfrb-from-msg-status {
    color: green;
    font-size: 18px;
}
.wpfrb-login-register .btn {
    border-radius: 0;
    margin-left: 1px;
    background: #3f4242 !important;
}
#wpfrb-register-form input.form-control.error, #wpfrb-login-form input.form-control.error {
    border: 1px solid red !important;
}

.wpfrb-login-register .wpfrb-login-register-body {
    margin-top: 16px;
}

.wpfrb-login-register .wpfrb-login-register-body h2 {
    font-size: 35px;
}

.wpfrb-login-register .wpfrb-login-register-body .input-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wpfrb .tab.btn{
    background: transparent !important;
    border: 1px solid #6c6464;
    color: #666060 !important;
}
.wpfrb .tab.btn:hover{
    background: #464646 !important;
    color: white !important;
}

.wpfrb .tab.btn.active{
    background: #464646 !important;
    color: white !important;
}

.wpfrb-login-register .wpfrb-login-register-body .input-group + .input-group {
    margin-top: 15px;
}

.wpfrb-login-register-body .active-form {
    display: block;
}
.wpfrb-login-register-body form {
    display: none;
}

.wpfrb-login-register .wpfrb-login-register-body .input-group .label-text {
    margin: 0;
    color: gray;
    font-size: 18px;
}

.wpfrb-login-register .wpfrb-login-register-body .input-group .form-control {
    border: 1px solid #b7aeae;
    border-radius: 4px;
    color: gray;
    padding: 5px 10px;
    font-size: 17px;
}

/* header section */
.wpfrb  .header-right .user-login {
    text-decoration: none;
    font-size: 15px;
    background: #f1f1f1;
    padding: 5px 15px;
    display: none;
    border-radius: 4px;
    color: #555;
    line-height: 20px;
    transition: .3s;
}

.wpfrb  .header-right .user-login.user-in {
    display: block;
    text-align: center;
}

.wpfrb  .header-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wpfrb  .header-right  .user-logout-dropdown a:hover,
.wpfrb  .header-right  .user-login:hover {
    color: #ba42ec;
    background: #f8e8ff;
}

.wpfrb  .header-right  .user-logout {
    position: relative;
}

.wpfrb  .header-right  .user-logout a:focus,
.wpfrb  .header-right  .user-logout a {
    text-decoration: none;
}

.wpfrb  .header-right  .user-logout>a {
    font-size: 14px;
    color: #878787;
    position: relative;
    padding: 5px 15px 5px 10px;
    display: inline-flex;
    align-items: center;
}

.wpfrb  .header-right  .user-logout>a img {
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.wpfrb  .header-right  .user-logout>a .downicon {
    width: 6px;
    height: 6px;
    border-left: 1px solid #878787;
    border-bottom: 1px solid #878787;
    display: inline-block;
    position: absolute;
    right: 2px;
    /* bottom: 10px; */
    transform: rotate(-45deg);
    transition: .3s;
}

.wpfrb .header-right  .user-logout>a.active .downicon {
    transform: rotate(135deg);
    bottom: 17px;
}

.wpfrb .header-right  .user-logout-dropdown {
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(187 68 236 / 17%);
    padding: 10px;
    min-width: 160px;
    right: 0;
    display: none;
    z-index: 999;
}

.wpfrb .header-right  .user-logout-dropdown a {
    font-size: 15px;
    font-weight: 300;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: .3s;
    color: #878787;
}

.user-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #aaa;
    border-radius: 100%;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transform: rotate( 45deg) translate(5px, 5px);
    position: relative;
    margin-right: 5px;
    transition: .3s;
}

.wpfrb .header-right  .user-logout-dropdown a:hover .user-icon {
    border-top-color: #ba42ec;
    border-left-color: #ba42ec;
}

.wpfrb .header-right:hover .user-logout-dropdown{
    display: block;
}



/*global class*/
.wpfrb * {
    box-sizing: border-box;
    text-decoration: none;
}
.text-2xl{
    font-size: 1.5rem !important;
}
.text-gray-700{
    color: rgba(0,0,0,0.3);
}

.wpfrb *:focus {
    outline: none !important;
}

.fade-in {
    animation: fade_in .5s linear;
}

.fade-out {
    animation: fade_out .5s linear;
}


/*animation keyframes*/
/*fade in*/
@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*fade out*/
@keyframes fade_out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}