
.wpfrb {
    background: #fff;
    padding: 10px 15px;
    color: #5e5b5b;
    border-radius: 4px;
}

.wpfrb .btn {
    padding: 5px 10px;
    background: #676668;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 15px;
}

.wpfrb .btn:hover {
    background: #4d4d4d;
    padding: 5px 10px;
    color: white;
    border-color: transparent;
}

.wpfrb h1 {
    font-size: 23px;
    color: gray;
}

.wpfrb .flex {
    display: flex;
    flex-wrap: wrap;
}

.wpfrb .justify-between {
    justify-content: space-between;
}

.wpfrb .items-center {
    align-items: center;
}

.wpfrb h1::before {
    content: '' !important;
    display: none !important;
    background: transparent !important;
}

/*popup wraper*/
.wpfrb .wpfrb-popup-overlay {
    position: fixed;
    background: #0000009c;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.wpfrb .wpfrb-popup-overlay.wpfrb-login-register{
    display: none;
}
.wpfrb .wpfrb-popup-overlay.wpfrb-login-register.show{
    display: flex;
}

.wpfrb .btn.simple {
    background: transparent !important;
    color: #686868 !important;
    padding: 5px 0px;
}

.wpfrb .btn.simple:hover {
    text-decoration: underline;
    color: #05ceb2 !important;
}
.wpfrb .overlay-close {
    padding: 1px 7px;
    border-radius: 50%;
    border: 0;
    background: #f04242 !important;
    font-size: 16px;
    margin-left: auto;
    display: block;
    font-weight: bold;
    color: white !important;
}

/*popup content*/
.wpfrb .wpfrb-popup-content {
    min-width: 250px;
    background: white;
    padding: 10px 20px;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 3px 4px 8px #b9b9b2;
    z-index: 999;
}

/*login register */
.wpfrb-login-register .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wpfrb-from-msg-status {
    color: green;
    font-size: 18px;
}
.wpfrb-login-register .btn {
    border-radius: 0;
    margin-left: 1px;
    background: #3f4242 !important;
}
#wpfrb-register-form input.form-control.error, #wpfrb-login-form input.form-control.error {
    border: 1px solid red !important;
}

.wpfrb-login-register .wpfrb-login-register-body {
    margin-top: 16px;
}

.wpfrb-login-register .wpfrb-login-register-body h2 {
    font-size: 35px;
}

.wpfrb-login-register .wpfrb-login-register-body .input-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wpfrb .tab.btn{
    background: transparent !important;
    border: 1px solid #6c6464;
    color: #666060 !important;
}
.wpfrb .tab.btn:hover{
    background: #464646 !important;
    color: white !important;
}

.wpfrb .tab.btn.active{
    background: #464646 !important;
    color: white !important;
}

.wpfrb-login-register .wpfrb-login-register-body .input-group + .input-group {
    margin-top: 15px;
}

.wpfrb-login-register-body .active-form {
    display: block;
}
.wpfrb-login-register-body form {
    display: none;
}

.wpfrb-login-register .wpfrb-login-register-body .input-group .label-text {
    margin: 0;
    color: gray;
    font-size: 18px;
}

.wpfrb-login-register .wpfrb-login-register-body .input-group .form-control {
    border: 1px solid #b7aeae;
    border-radius: 4px;
    color: gray;
    padding: 5px 10px;
    font-size: 17px;
}

/* header section */
.wpfrb header{
    margin-bottom: 30px;
    border-bottom: 1px solid #ffd70061;
}

.wpfrb  .header-right .user-login {
    text-decoration: none;
    font-size: 15px;
    background: #f1f1f1;
    padding: 5px 15px;
    display: none;
    border-radius: 4px;
    color: #555;
    line-height: 20px;
    transition: .3s;
}

.wpfrb  .header-right .user-login.user-in {
    display: block;
    text-align: center;
}

.wpfrb  .header-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wpfrb .header-right .user-logout-dropdown a:hover, .wpfrb .header-right .user-login:hover {
	color: #e8a300;
	background: #fff2c1;
}

.user-icon::before {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: -5px;
	left: -5px;
	border: 1px solid #aaa;
	border-radius: 50%;
	transition: .3s;
}
.logout-power-icon::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 8px;
	background: #cfcfcf;
	left: 50%;
	top: -4px;
	margin-left: -.5px;
	box-shadow: 0 0 0 3px #fff;
	transition: .3s;
}

.wpfrb .header-right .user-logout-dropdown a:hover .user-icon::before, .wpfrb .header-right .user-logout-dropdown a:hover .logout-power-icon {
	border: 1px solid #e8a300 !important;
}

.wpfrb .header-right .user-logout-dropdown a:hover .logout-power-icon::before {
	background: #e8a300;
    box-shadow: 0 0 0 3px #fff2c1;
}

.wpfrb  .header-right  .user-logout {
    position: relative;
}

.wpfrb  .header-right  .user-logout a:focus,
.wpfrb  .header-right  .user-logout a {
    text-decoration: none;
}

.wpfrb  .header-right  .user-logout>a {
    font-size: 14px;
    color: #878787;
    position: relative;
    padding: 5px 15px 5px 10px;
    display: inline-flex;
    align-items: center;
}

.wpfrb  .header-right  .user-logout>a img {
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.wpfrb  .header-right  .user-logout>a .downicon {
    width: 6px;
    height: 6px;
    border-left: 1px solid #878787;
    border-bottom: 1px solid #878787;
    display: inline-block;
    position: absolute;
    right: 2px;
    /* bottom: 10px; */
    transform: rotate(-45deg);
    transition: .3s;
}

.wpfrb .header-right  .user-logout>a.active .downicon {
    transform: rotate(135deg);
    bottom: 17px;
}

.wpfrb .header-right  .user-logout-dropdown {
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(187 68 236 / 17%);
    padding: 10px;
    min-width: 160px;
    right: 0;
    display: none;
    z-index: 999;
}

.wpfrb .header-right  .user-logout-dropdown a {
    font-size: 15px;
    font-weight: 300;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: .3s;
    color: #878787;
}

.user-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #aaa;
    border-radius: 100%;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transform: rotate( 45deg) translate(5px, 5px);
    position: relative;
    margin-right: 5px;
    transition: .3s;
}

.wpfrb .header-right .user-logout-dropdown a:hover .user-icon {
	border-top-color: #e8a300;
	border-left-color: #e8a300;
}

/* .wpfrb .header-right:hover .user-logout-dropdown{
    display: block;
} */


/* feature section */
.wpfrb .frb-req-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wpfrb .frb-req-add-button{
    background: #fdd8108f !important;
    border: 0 !important;
    border-radius: 5px;
    color: #464242 !important;
    width: max-content;
    height: max-content !important;
    line-height: 1;
    padding: 7px 12px;
    font-size: 18px;
}
.wpfrb .frb-req-add-button:hover {
    color: white !important;
    background: goldenrod !important;
}
.wpfrb .frb-req-header .frb-req-search-input {
	border: 1px solid #fdd81070 !important;
}

/* req form area */
.wpfrb .frb-req-form-area {
	border: 1px solid #fdd81070;
	padding: 10px 20px;
	margin-top: 20px;
	border-radius: 5px;
}
.wpfrb .frb-req-not-login-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 16px;
	align-items: center;
}

.wpfrb .frb-req-form-area .btn.simple.login.menu {
	text-decoration: underline;
}

.logowrap .logo-preview {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
}
.logowrap .logo-preview-wraper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.logowrap .logo-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.logowrap .logo-preview .remove-preview-logo {
    position: absolute;
    right: -5px;
    top: -5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 13px;
    text-align: center;
    border-radius: 50%;
    background: #878787;
    color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    box-shadow: 0 0 0 2px #fff;
    transition: .3s;
}
.logowrap .logo-preview .remove-preview-logo:hover {
    background: #ff0000;
}


/* feature request filter */

.wpfrb .frb-req-filter-area {
	display: flex;
	margin: 17px 0;
	padding: 0;
	justify-content: space-between;
	align-items: center;
}

.wpfrb .frb-req-filter-area p {
	font-size: 16px;
}

.wpfrb .frb-req-filter-area .right {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*global class*/
.wpfrb * {
    box-sizing: border-box;
    text-decoration: none;
}
.wpfrb h2{
    font-size: 20px !important;
    line-height: 1.5;
}
.wpfrb form h2{
    margin: 10px 0;
}
.wpfrb input[type="text"], .wpfrb textarea {
	border: 1px solid #fdd81070;
	border-radius: 5px;
	height: max-content;
	width: max-content;
	padding: 3px 5px;
	font-size: 16px;
	color: gray !important;
	line-height: 1;
	margin: 0;
	max-width: 100%;
}

select {
	border: 1px solid #fdd81070;
	height: max-content;
	padding: 0px 4px;
	border-radius: 5px;
	font-size: 16px;
	color: gray;
}

.wpfrb input[type="text"].error, .wpfrb textarea.error {
	border: 1px solid red !important;
}


.wpfrb .input-group input[type="text"], .wpfrb .input-group textarea {
    width: 100%;
    margin-bottom: 15px;
}
.wpfrb input[type='text']:focus, .wpfrb .input-group textarea:focus{
    border-color: goldenrod !important;
}
.wpfrb .input-group .btn{
    height: max-content;
    text-transform: uppercase;
    font-size: 14px;
    padding: 3px 5px 1px 5px;
    background: gold !important;
    color: rebeccapurple !important;
}
.wpfrb .input-group .btn:hover{
    background: goldenrod !important;
    color: white !important;
}
.text-2xl{
    font-size: 1.5rem !important;
}
.text-gray-700{
    color: rgba(0,0,0,0.3);
}

.wpfrb *:focus {
    outline: none !important;
}

.fade-in {
    animation: fade_in .5s linear;
}

.fade-out {
    animation: fade_out .5s linear;
}


/*animation keyframes*/
/*fade in*/
@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*fade out*/
@keyframes fade_out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
